body {
    background-color: rgb(245, 224, 131);
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(117, 250, 199);
    border: #df3112;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #df3112;
    box-shadow: 0px 15px 20px rgba(244, 99, 3, 0.634);
    color: rgb(227, 148, 122);
    transform: translateY(-7px);
}
#title{align-items: center;
    font-family: fantasy;
    letter-spacing: 6px;
    font-size: 4em;
    color: rgb(17, 5, 246);

}
p{text-align: center;
    font-family: fantasy;
    letter-spacing: 3px;
    font-size: 3em;
    color: rgb(245, 7, 23);

}
#score{
    font-size: 2.5em;
    font-family: fantasy;
    letter-spacing: 3px;
    color: rgb(125, 5, 206);
}
#highscr {
    font-size: 2.5em;
    font-family: fantasy;
    letter-spacing: 3px;
    color: rgb(125, 5, 206);
}
